<div class="large-3 small-12 column">
  <%=image_tag @toy.image%>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @toy.name %>
    (<%= @toy.stock %>)
  </h3>
  
  <p class="label movie-label radius mb1">
    <%= (current_user && current_user.purchase?(@toy)) ? "Purchased" : "$#{@toy.price}" %>
  </p>

  <p><%= @toy.description %></p>

  <%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@toy), removeUrl: remove_from_cart_path(@toy)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>

</div>